#originalImagePanel {
    position: relative;
}

#drawnImage {
    width: 100%;
}

#imageContainer {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#imageForMarking {
    width: 100%;
    height: 100%;
    background: black url("../img/original-image.jpg") no-repeat top left;
}

.panel-body {
    padding: 0;
}

.resize-container {
    position: relative;
}

.resize-drag {
    position: absolute;
    background: none;
    border: 4px solid rgba(0, 100, 255, 0.75);
    width: 120px;
    height: 120px;
    box-sizing: border-box;
}

.unripe-fruit {
        
}

.ripe-fruit {

}

.markingPanel-fruit {   
}