#originalImagePanel {
    position: relative;
}

#drawnImage {
    width: 100%;
}

#imageContainer {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#imageForMarking {
    width: 100%;
    height: 100%;
    background: black url("../img/original-image.jpg") no-repeat top left;
}

.panel-body {
    padding: 0;
}

.resize-container {
    position: relative;
}

.resize-drag {
    position: absolute;
    background: none;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
}

#markingRectangle {
    border: 4px dashed rgba(0, 100, 255, 0.75);	
}

.type1-object {
    border: 2px solid rgba(0, 0, 255, 1) !important;
}

.type2-object {
    border: 2px solid rgba(255, 0, 0, 1) !important;
}

.markingPanel-object { 
    background: none;
	border: 3px solid rgba(255, 0, 0, 0.8) !important;
}

.markingPanel-object-selected {   
    background: rgba(0, 0, 255, 0.3);
}

.dont-display {
	display: none;
}